<app-navbar1></app-navbar1>
<div class="content-wrapper">
    <div class="container-full">
      <div class="content-header">
          <div class="d-flex align-items-center">
              <div class="me-auto">
                  <h4 class="page-title">Projets</h4>
                  <div class="d-inline-block align-items-center">
                      <nav>
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                              <li class="breadcrumb-item" aria-current="page">PlatServ</li>
                              <li class="breadcrumb-item active" aria-current="page">projets</li>
                          </ol>
                      </nav>
                  </div>
              </div>

          </div>
      </div>
      <!-- Main content -->
      <section class="content">
          <div class="row">
              <div class="col-12">
                  <div class="box">

                      <div class="box-body p-15">
                          <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                  <thead>
                                      <tr>
                                       <th>Description</th>
                                          <th>Budget</th>
                                          <th>Delais</th>
                                          <th>Etat</th>
                                      <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>

                                      <tr>
                                          <td>tt</td>
                                          <td>g</td>

                                         <td>j</td>
                                          <td> <div class="progress">
                                              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow=" 77"  aria-valuemax="100" style="width:  77">
                                             66
                                              </div>
                                            </div></td>
                                          <td>
                                              <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-eye"></i> Info</span>

                                              </a>


                                          </td>
                                      </tr>







                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </section>
      <!-- /.content -->
    </div>
</div>

