

<app-navbar></app-navbar>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div class="container-full">
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title">Ajouter Membre</h4>
            </div>
          <div class="box-body">
            <form th:action="@{addM}" method="Post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <label class="fw-700 fs-16 form-label">Membre</label>

                              <select class="form-select"  tabindex="1" name="membre">

                             <option th:each="p:${membres}"  th:value="${p.membre_id}" th:text="${p.Nom}+' '+${p.Prenom}"></option>


                            </select>
                                  <input type="hidden" class="form-control"  th:value="${ids}" name="id">
                            </div>
                        </div>
                        <!--/span-->

                        <!--/span-->
                    </div>





                </div>
                <div class="form-actions mt-10">
                    <button type="submit" class="btn btn-primary"> <i class="fa fa-plus"></i> Ajouter</button>
                    <button type="button" class="btn btn-danger">Annuler</button>
                </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  </section>
  <!-- /.content -->
  </div>
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer>


<!-- /.control-sidebar -->

<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->







