<div>
  <!-- Topbar Start -->
  <app-navbar1></app-navbar1><div class="content-wrapper">
  <div class="container-full">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h4 class="page-title">Admin</h4>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>

                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="col-sm-6">
        <button data-bs-toggle="modal" data-bs-target="#con-close-modal" class="btn btn-info mb-2"><i class="mdi mdi-plus-circle me-1"></i> Ajouter</button>
    </div>
        <div class="row">

          <div class="col-12 col-lg-4">
            <div class="box ribbon-box">
              <div class="ribbon-two ribbon-two-primary"><span></span></div>
              <div class="box-header no-border p-0">
                <a href="#">
                  <img class="img-fluid" src="assets/images/avatar/375x200/1.jpg" alt="">
                </a>
              </div>
              <div class="box-body">
                    <div class="user-contact list-inline text-center">
                        <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-marker-alt"></i>  Modifier</span>

                                              </a>
                                               <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                 <span><i class="ti-trash"></i> Supprimer</span>

                                              </a>
                    </div>
                  <div class="text-center">
                    <h3 class="my-10"> <a [routerLink]="'/DS'">Tristan</a></h3>
                    <h6 class="user-info mt-0 mb-10 text-fade">Designer</h6>
                    <p class="text-fade w-p85 mx-auto">125 Ipsum Lorem Ave, Suite 458 New York, USA 154875 </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="box ribbon-box">
              <div class="ribbon-two ribbon-two-danger"><span>MD</span></div>
              <div class="box-header no-border p-0">
                <a [routerLink]="'/chefS'">
                  <img class="img-fluid" src="assets/images/avatar/375x200/2.jpg" alt="">
                </a>
              </div>
              <div class="box-body">
                  <div class="text-center">
                    <div class="user-contact list-inline text-center">
                        <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-marker-alt"></i>  Modifier</span>

                                              </a>
                                               <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                 <span><i class="ti-trash"></i> Supprimer</span>

                                              </a>
                    </div>
                    <h3 class="my-10"><a href="#">Sophia</a></h3>
                    <h6 class="user-info mt-0 mb-10 text-fade">Full Stack Developer</h6>
                    <p class="text-fade w-p85 mx-auto">125 Ipsum Lorem Ave, Suite 458 New York, USA 154875 </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="box ribbon-box">
              <div class="ribbon-two ribbon-two-success"><span>Owner</span></div>
              <div class="box-header no-border p-0">
                <a href="#">
                  <img class="img-fluid" src="assets/images/avatar/375x200/3.jpg" alt="">
                </a>
              </div>
              <div class="box-body">
                  <div class="text-center">
                    <div class="user-contact list-inline text-center">
                        <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-marker-alt"></i>  Modifier</span>

                                              </a>
                                               <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                 <span><i class="ti-trash"></i> Supprimer</span>

                                              </a>
                    </div>
                    <h3 class="my-10"><a href="#">Jacob</a></h3>
                    <h6 class="user-info mt-0 mb-10 text-fade">Support Agent</h6>
                    <p class="text-fade w-p85 mx-auto">125 Ipsum Lorem Ave, Suite 458 New York, USA 154875 </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="box">
              <div class="box-header no-border p-0">
                <a href="#">
                  <img class="img-fluid" src="assets/images/avatar/375x200/4.jpg" alt="">
                </a>
              </div>
              <div class="box-body">
                  <div class="text-center">
                    <div class="user-contact list-inline text-center">
                        <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-marker-alt"></i>  Modifier</span>

                                              </a>
                                               <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                 <span><i class="ti-trash"></i> Supprimer</span>

                                              </a>
                    </div>
                    <h3 class="my-10"><a href="#">Isabella</a></h3>
                    <h6 class="user-info mt-0 mb-10 text-fade">Designer</h6>
                    <p class="text-fade w-p85 mx-auto">125 Ipsum Lorem Ave, Suite 458 New York, USA 154875 </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="box ribbon-box">
              <div class="ribbon-two ribbon-two-info"><span>Top Agent</span></div>
              <div class="box-header no-border p-0">
                <a href="#">
                  <img class="img-fluid" src="assets/images/avatar/375x200/5.jpg" alt="">
                </a>
              </div>
              <div class="box-body">
                  <div class="text-center">
                    <div class="user-contact list-inline text-center">
                        <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-marker-alt"></i>  Modifier</span>

                                              </a>
                                               <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                 <span><i class="ti-trash"></i> Supprimer</span>

                                              </a>
                    </div>
                    <h3 class="my-10"><a href="#">Emma</a></h3>
                    <h6 class="user-info mt-0 mb-10 text-fade">Support Agent</h6>
                    <p class="text-fade w-p85 mx-auto">125 Ipsum Lorem Ave, Suite 458 New York, USA 154875 </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="box">
              <div class="box-header no-border p-0">
                <a href="#">
                  <img class="img-fluid" src="assets/images/avatar/375x200/6.jpg" alt="">
                </a>
              </div>
              <div class="box-body">
                  <div class="text-center">
                    <div class="user-contact list-inline text-center">
                        <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-marker-alt"></i>  Modifier</span>

                                              </a>
                                               <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                 <span><i class="ti-trash"></i> Supprimer</span>

                                              </a>
                    </div>
                    <h3 class="my-10"><a href="#">William</a></h3>
                    <h6 class="user-info mt-0 mb-10 text-fade">Marketing Department</h6>
                    <p class="text-fade w-p85 mx-auto">125 Ipsum Lorem Ave, Suite 458 New York, USA 154875 </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="box">
              <div class="box-header no-border p-0">
                <a href="#">
                  <img class="img-fluid" src="assets/images/avatar/375x200/7.jpg" alt="">
                </a>
              </div>
              <div class="box-body">
                  <div class="text-center">
                    <div class="user-contact list-inline text-center">
                        <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-marker-alt"></i>  Modifier</span>

                                              </a>
                                               <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                 <span><i class="ti-trash"></i> Supprimer</span>

                                              </a>
                    </div>
                    <h3 class="my-10"><a href="#">Tristan</a></h3>
                    <h6 class="user-info mt-0 mb-10 text-fade">Designer</h6>
                    <p class="text-fade w-p85 mx-auto">125 Ipsum Lorem Ave, Suite 458 New York, USA 154875 </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="box">
              <div class="box-header no-border p-0">
                <a href="#">
                  <img class="img-fluid" src="assets/images/avatar/375x200/8.jpg" alt="">
                </a>
              </div>
              <div class="box-body">
                  <div class="text-center">
                    <div class="user-contact list-inline text-center">
                        <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-marker-alt"></i>  Modifier</span>

                                              </a>
                                               <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                 <span><i class="ti-trash"></i> Supprimer</span>

                                              </a>
                    </div>
                    <h3 class="my-10"><a href="#">Michael</a></h3>
                    <h6 class="user-info mt-0 mb-10 text-fade">Designer</h6>
                    <p class="text-fade w-p85 mx-auto">125 Ipsum Lorem Ave, Suite 458 New York, USA 154875 </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="box">
              <div class="box-header no-border p-0">
                <a href="#">
                  <img class="img-fluid" src="assets/images/avatar/375x200/2.jpg" alt="">
                </a>
              </div>
              <div class="box-body">
                  <div class="text-center">
                    <div class="user-contact list-inline text-center">
                        <a  href="detailProjet.da?id=${p.id}" class="btn btn-primary">
                                                  <span><i class="ti-marker-alt"></i>  Modifier</span>

                                              </a>
                                               <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                 <span><i class="ti-trash"></i> Supprimer</span>

                                              </a>
                    </div>
                    <h3 class="my-10"><a href="#">Sophia</a></h3>
                    <h6 class="user-info mt-0 mb-10 text-fade">Full Stack Developer</h6>
                    <p class="text-fade w-p85 mx-auto">125 Ipsum Lorem Ave, Suite 458 New York, USA 154875 </p>
                  </div>
              </div>
            </div>
          </div>
        </div>

    </section>
    <!-- /.content -->
  </div>
</div>
  <!-- sample modal content -->

  <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajouter ChefService</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
             <form action="SaveAcc.html" method="post">
            <div class="modal-body p-4">

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="field-1" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="field-1" placeholder="nom" name="nom">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="field-2" class="form-label">Chef Service</label>
                            <input type="text" class="form-control" id="field-2" placeholder="prenom" name="prenom">
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">Enregistrer</button>
            </div>
              </form>
        </div>
    </div>
</div><!-- /.modal -->
</div>


