
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div>
      <app-navbar1></app-navbar1>
      <div class="content-wrapper">
          <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="me-auto">
                        <h4 class="page-title">Admin</h4>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Service</li>
                                    <li class="breadcrumb-item active" aria-current="page">Detail</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">

              <!-- tabs -->

              <div class="row">


                <!-- /.col -->

                <div class="col-12">
                  <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs customtab2" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#home7" role="tab"><span class="hidden-sm-up"><i class="ion-home"></i></span> <span class="hidden-xs-down">projets</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#profile7" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">mamber</span></a> </li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home7" role="tabpanel">
                              <div class="box-body p-15">
                                  <div class="table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                          <thead>
                                              <tr>
                                               <th>Description</th>
                                                  <th>Budget</th>
                                                  <th>Delais</th>
                                                  <th>Etat</th>

                                              </tr>
                                          </thead>
                                          <tbody>

                                              <tr>
                                                  <td>tt</td>
                                                  <td>g</td>

                                                 <td>j</td>
                                                  <td>
                                                      <div class="progress">
                                                      <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow=" 77"  aria-valuemax="100" style="width:  77">
                                                      66
                                                      </div>
                                                      </div>
                                                 </td>

                                              </tr>

                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                            </div>
                            <div class="tab-pane" id="profile7" role="tabpanel">
                              <div class="box">

                                    <div class="box-body p-15">
                                        <div class="table-responsive">
                                          <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                  <tr>


                                                      <th>Nom</th>
                                                      <th>Prenom</th>
                                                      <th>Username</th>
                                                      <th>Telephone</th>
                                                      <th>Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                      <td>Ahmed</td>
                                                      <td>sidi</td>
                                                      <td>sidi</td>
                                                      <td>2223446</td>
                                                      <td>
                                                          <a  [routerLink]="'/mdfC'"  class="btn btn-primary">
                                                              <span><i class="ti-marker-alt"></i>  Modifier</span>
            
                                                          </a>
                                                           <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                             <span><i class="ti-trash"></i> Supprimer</span>
            
                                                          </a>
            
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                        <td>sidi</td>
                                                        <td>samire</td>
                                                        <td>sidi</td>
                                                        <td>2245678</td>
                                                        <td>
                                                            <a  [routerLink]="'/mdfC'"  class="btn btn-primary">
                                                                <span><i class="ti-marker-alt"></i>  Modifier</span>
              
                                                            </a>
                                                             <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                               <span><i class="ti-trash"></i> Supprimer</span>
              
                                                            </a>
              
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>Amira</td>
                                                        <td>salme</td>
                                                        <td>sidi</td>
                                                        <td>22443565</td>
                                                        <td>
                                                            <a  [routerLink]="'/mdfC'"  class="btn btn-primary">
                                                                <span><i class="ti-marker-alt"></i>  Modifier</span>
              
                                                            </a>
                                                             <a  href="ModifierProjet.da?id=${p.id}" class="btn btn-danger">
                                                               <span><i class="ti-trash"></i> Supprimer</span>
              
                                                            </a>
              
                                                        </td>
                                                      </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- /.col -->



                <!-- /.col -->

              </div>
              <!-- /.row -->
              <!-- END tabs -->

            </section>
            <!-- /.content -->
          </div>
      </div>
   </div>


