<div> 
    <app-navbar1></app-navbar1> <div class="content-wrapper">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Bienvenue !</h4>
                        
                    </div>
                </div>
              
                <div class="col-xl-12 col-6">
					<div class="box">
						<div class="box-header no-border pb-0">
							<h4 class="box-title">Total</h4>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6 col-12">
									<div class="info-box bg-transparent no-shadow px-0 min-h-80">
										<span class="info-box-icon bg-danger-light rounded-circle"><span class="icon-Ticket"></span></span>
										<div class="info-box-content pb-0">
										  <p class="mb-0 fs-16">Total projets</p>
										  <h2 class="my-0 fw-500 text-danger">4</h2>
										</div>
									 </div>
								</div>
								<div class="col-md-6 col-12">
									<div class="info-box bg-transparent no-shadow px-0 min-h-80">
										<span class="info-box-icon bg-success-light rounded-circle"><span class="icon-Ticket"></span></span>
										<div class="info-box-content pb-0">
										  <p class="mb-0 fs-16">Total services</p>
										  <h2 class="my-0 fw-500 text-success">2</h2>
										</div>
									 </div>
								</div>
								<div class="col-md-6 col-12">
									<div class="info-box bg-transparent no-shadow px-0 min-h-80">
										<span class="info-box-icon bg-primary-light rounded-circle"><span class="icon-Money"><span class="path1"></span><span class="path2"></span></span></span>
										<div class="info-box-content pb-0">
										  <p class="mb-0 fs-16">Total Clients</p>
										  <h2 class="my-0 fw-500 text-info">6</h2>
										</div>
									 </div>
								</div>
								<div class="col-md-6 col-12">
									<div class="info-box bg-transparent no-shadow px-0 min-h-80">
										<span class="info-box-icon bg-info-light rounded-circle"><span class="icon-Chart-line1"><span class="path1"></span><span class="path2"></span></span></span>
										<div class="info-box-content pb-0">
										  <p class="mb-0 fs-16">Total Emploiyers</p>
										  <h2 class="my-0 fw-500 text-info">8</h2>
										</div>
									 </div>
								</div>
							</div>
						</div>
					</div>	
				</div> 
            </div>
            <!-- end row -->

        
        <!-- /.box-header -->
            <div class="box">
        <div class="box-header with-border">
          <h4 class="box-title">Projets</h4>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
         
            <h4 class="small font-weight-bold"></h4>
              
                 <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="22"aria-valuemin="0" aria-valuemax="100" style="width: 22%">
              <span class="float-right"></span>
            </div>
          </div>
                                   
                                     
                                 
                 <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 22%">
              <span class="float-right"></span>
            </div>
          </div>
                                   
                                     
                               
        
        
    
        
        </div>
        <!-- /.box-body -->
      
    
    


</div>
         </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->

    <!-- end Footer -->
</div></div>

