
<div>


 <app-top-nav-bar-chef-service></app-top-nav-bar-chef-service>



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
      <div class="row">
        <div class="col-12">
  <div class="box">
                <div class="box-header with-border">

                    <div class="text-left">
                        <a routerLink="/ajouterChefProjet" class="btn btn-primary" data-toggle="modal" data-target="#addRowModal" > <span><i class="ti-plus"></i> Ajouter</span> </a>

                    </div>

    </div>

                <div class="box-body">
                    <div class="table-responsive">
                      <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
                                    <th scope="col"><i class="ti-user"></i></th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Telephone</th>
                   <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cp of Chefprojet">
                                    <th scope="row"> <a href="#" class="question_content"><i class="ti-user"></i></a></th>
              <td >{{cp.nom}}</td>
            <td >{{cp.prenom}}</td>
            <td >{{cp.username}}</td>
            <td >{{cp.Tel}}</td>



              <td>
                <button  routerLink="/modifierChefProjet"    class="btn btn-circle btn-primary btn-xs" data-toggle="tooltip" data-original-title="modifier">
                  <i class="ti-marker-alt"></i>
                </button>

                <button  class="btn btn-circle btn-danger btn-xs" title="" data-toggle="tooltip" (click)="deleteChefProjet(cp)" data-original-title="Supprimer"><i class="ti-trash"></i></button>

              </td>
            </tr>







          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
    </div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
<app-footer></app-footer>


  <!-- /.control-sidebar -->

  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>

