<div class="wrapper">


 <app-top-nav-bar-chef-service></app-top-nav-bar-chef-service>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
      <div class="row">
        <div class="col-12">
          <div class="box">
              <div class="box-header with-border">
                <h4 class="box-title">Ajouter Projet</h4>
              </div>
            <div class="box-body">
              <form [formGroup]="formValue">
                    <div class="form-body">
                        <div class="row">

                            <!--/span-->

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="font-weight-700 font-size-16">Description</label>
                                    <input type="text" class="form-control" formControlName="Description"   name="description">
                                    <input type="hidden"  name="id1">
                                  <input type="hidden"  name="id2">
                                 </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-700 font-size-16">Delais</label>
                                    <input type="text" class="form-control"  formControlName="delais"   >
                                 </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-700 font-size-16">Budget Total</label>
                                    <input type="number" class="form-control" placeholder="budget total" formControlName="BudgetTotal">
                                 </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="font-weight-700 font-size-16">Budget</label>
                                    <input type="number" class="form-control" placeholder="budget" formControlName="Budget">
                                 </div>


                            </div>

                            <div class="form-actions mt-10">
                                <button type="submit" (click)="postEmployeeDetails()" class="btn btn-primary m-lg-3"> <i class="fa fa-check"></i> Enregistrer</button>
                                <button type="reset" class="btn btn-danger">Annuler</button>
                            </div>
                        </div>
                    </div>
                        </form>


                    </div>

            </div>

        </div>
    </div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
<app-footer></app-footer>


  <!-- /.control-sidebar -->

  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>


